@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* --------[ animation ]-------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------[ body ]-------- */

body {
  background-color: #3c3836;
  font-family: "Roboto", sans-serif;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #d79921;
  text-decoration: none;
}

/* --------[ flash messages ]-------- */

.flash_msg {
  float: right;
  animation: fadeIn 0.5s;
  color: #ebdbb2;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 17px;
  width: 50%;
  overflow: hidden;
}

p.flash_msg#error {
  background-color: rgba(204, 35, 29, 0.5);
  border: 2px solid #fb4934;
}

p.flash_msg#success {
  background-color: hsla(78, 66%, 44%, 0.5);
  border: 2px solid #8ebb26;
}

p.flash_msg#else {
  background-color: rgba(69, 133, 136, 0.5);
  border: 2px solid #83a598;
}

div.flash_msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.flash_message {
  color: #ebdbb2;
  border: 0px solid;
  background-color: transparent;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
  float: right;
}

/* --------[ dashboard - add resource ]-------- */

div.dashb_main {
  height: auto;
  width: auto;
  background-color: #282828;
  width: 75%;
  margin: 3rem auto;
  border-radius: 1.5rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  margin-bottom: 50px;
}

label.dashb_info {
  padding: 0.6rem;
  color: #ebdbb2;
  font-size: 1.3em;
  text-align: left;
}

input.dashb_info {
  width: 75%;
  /* color: rgb(38, 50, 56); */
  color: #ebdbb2;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: left;
  font-family: "Roboto", sans-serif;
}

button.dashb_resource_add {
  background: hsla(78, 66%, 44%, 0.5);;
  padding: 0.5em;
  margin: 1em;
  border-radius: 15px;
  border: 2px solid #8ebb26;
  color: #ebdbb2;
  cursor: pointer;
}

p.category {
  padding: 10px 20px;
  color: #ebdbb2;
  height: auto;
  font-size: 2em;
  background-color: #282828;
  width: 75%;
  margin: 3rem auto;
  border-radius: 1.5rem;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

/* --------[ dashboard - show resources ]-------- */

hr.resources_separation {
  visibility: hidden;
  margin: 1em;
}

div.dashb_resources {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

textarea.dashb_info {
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.02);
  color: #ebdbb2;
  font-size: 1.1em;
}

a.dashb_resource_delete {
  background: rgba(204, 35, 29, 0.5);
  padding: 0.5em;
  border-radius: 15px;
  border: 2px solid #fb4934;
  color: #ebdbb2;
  cursor: pointer;
}

div.dashb_resource_delete {
  padding: 1em;
}

input.dashb_input {
  width: 76%;
  /* color: rgb(38, 50, 56); */
  color: #ebdbb2;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.02);
  text-align: left;
  font-family: "Roboto", sans-serif;
}
