@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* --------[ animation ]-------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------[ body ]-------- */

body {
  background-color: #3c3836;
  font-family: "Roboto", sans-serif;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #d79921;
  text-decoration: none;
}

/* --------[ flash messages ]-------- */

.flash_msg {
  float: right;
  animation: fadeIn 0.5s;
  color: #ebdbb2;
  border-radius: 1em;
  padding: 0.5em;
  font-size: 17px;
  width: 50%;
  overflow: hidden;
}

p.flash_msg#error {
  background-color: rgba(204, 35, 29, 0.5);
  border: 2px solid #fb4934;
}

p.flash_msg#success {
  background-color: hsla(78, 66%, 44%, 0.5);
  border: 2px solid #8ebb26;
}

p.flash_msg#else {
  background-color: rgba(69, 133, 136, 0.5);
  border: 2px solid #83a598;
}

div.flash_msg {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.flash_message {
  color: #ebdbb2;
  border: 0px solid;
  background-color: transparent;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
  float: right;
}

/* --------[ dashboard ]-------- */

div.dash_b {
  display: inline-block;
  width: auto;
}

label.dashb_infos {
  color: #ebdbb2;
  font-size: 1.3em;
  display: block;
}

/* --------[ navigation bar ]-------- */

/* .navbar {
  margin: 2rem;
  border-radius: 2rem;
  background-color: #282828;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #ebdbb2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgba(131, 165, 152, 0.2);
  color: #ebdbb2;
}

.navbar a.active {
  background-color: #458588;
  color: #ebdbb2;
} */
