<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/script.js"></script>
    <title>RestAPI</title>
    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="navbar">
        <a href="/" class="navbar">Home</a>
        <a href="/login" style="float: right;" class="navbar">Login</a>
        <a href="/register" style="float: right;" class="navbar">Register</a>
        {% block navbar %}
        {% endblock %}
    </div>


    {% block main %}

    {% endblock %}


    <!-- Pour afficher les messages flashs -->
    {% with flashs = get_flashed_messages(with_categories=true) %}

    {% if flashs %}

    {% for category, flash in flashs %}

    {% if category == 'error' %}

    {{ flash }}
    <button type="button" aria-label="Fermer"></button>

    {% elif category == 'success' %}

    {{ flash }}
    <button type="button" aria-label="Fermer"></button>

    {% else %}

    {{ flash }}
    <button type="button" aria-label="Fermer"></button>

    {% endif %}

    {% endfor %}

    {% endif %}

    {% endwith %}

</body>

</html>