{% extends 'base.html' %}

{% block head %}
<title>RestAPI - Dashboard</title>
<link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block main %}

<p class="category">Add Resource</p>
<div class="dashb_main" id="dashb_add_resource">
    <form action="/dashboard" method="POST">
        <div class="dashb_resources">
            <label for="dashb_add_name" class="dashb_info">Name</label>
            <input name="resource_name" type="text" id="dashb_add_name"
                placeholder="My_new_resource (no space or non-utf8 characters)" class="dashb_info">
        </div>
        <div class="dashb_resources">
            <label for="dashb_add_returns" class="dashb_info">Returns</label>
            <textarea name="resource_returns" id="dashb_resources_returns" placeholder="{'name': 'john'}"
                class="dashb_info" cols="30" rows="10"></textarea>
        </div>
        <div class="dashb">
            <button class="dashb_resource_add" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </button>
        </div>
    </form>
</div>

<p class="category">Resources</p>
<div class="dashb_main">

    {% for resource in resources %}
    <div class="dashb_resources">
        <label for="dashb_resources_name" class="dashb_info" id="resource">Name</label>
        <input type="text" class="dashb_input" value="{{ resource.name }}" disabled id="dashb_resources_name">
        <br>
        <label for="dashb_resources_returns" class="dashb_info" id="resource">Returns</label>
        <textarea name="dashb_resources_returns" id="dashb_resources_returns" class="dashb_info" cols="30" rows="10"
            disabled>{{ resource.returns }}</textarea>
        <br>
        <label for="dashb_resources_link_name" class="dashb_info" id="resource">Link to your ressource</label>
        <input type="text" class="dashb_input" value="/u/{{ user.username }}/resource/{{ resource.name }}" disabled id="dashb_resources_link_name">
    </div>
    <div class="dashb_resource_delete">
        <a href="/u/{{ user.username }}/delete/{{ resource.id }}" class="dashb_resource_delete"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg></a>
    </div>
    <hr class="resources_separation">
    {% endfor %}


</div>

{% endblock %}