{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block main %}

<h1>Basic form</h1>

{% if form == true %}
    <form action="/" method="POST">
        Name: <input type="text" name="name" id="">
        Last Name: <input type="text" name="last_name" id="">
        <input type="submit" name="" id="" value="Send">
    </form>
{% elif form == false %}
    {% if name and last_name %}
        <h2>My name is {{ name }} and my last name is {{ last_name }}</h2>
    {% else %}
        <h1>There's been an error in the form</h1>
    {% endif %}
{% endif %}

{% endblock %}
